<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>You Got Shit To Do</h1>
    <p class="lead">Feel Better About Yourself With Some Puppies</p>
    <img src="assets/images/dog.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">DO ALL THESE THINGS BRO:</h1>
      <ul class="nav nav-pills nav-stacked col-md-12" ng-repeat="todo in todos">
        <li><a href="#" tooltip="{{todo.info}}">{{todo.name}}<button type="button" class="close" ng-click="deleteTodo(todo)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="todo-form">
    <label>More Stuff, Really?</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="You know you just wanna chill, dude" ng-model="newTodo">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addTodo()">WHY?!?</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Swiggity Swooty
        </p>
  </div>
</footer>
